body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*navigation bar styling*/

.logo h3 a{
    font-size: 30px;
}
.list-items li{
    list-style: none;
    display: inline;
    padding: 20px;
    
}
.list-items a{
    text-decoration: none;
    color: black;
}
.list-items a:hover{
    color: crimson;
    border-bottom: 2px solid crimson;
    transition: 0.6s;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 20px;
    
}


.nav-bar a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

/*----------Home page styling-------*/
.inside-home{
    display: flex;
    margin-bottom: 100px;
}
.width-area{
    width: 50%;
}
.text-area{
    margin-left: 88px;
}

.heading{
    font-size: 60px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    border-left: 5px solid crimson;
    padding-left: 10px;

}

.heading-decription{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: justify;
}
button{
    font-size: 20px;
    color: white;
    padding: 10px 40px;
    background-color: crimson;
    border-radius: 10px;
    box-shadow: 7px 5px 10px rgb(230, 180, 190);
}
.hover:hover{
    background-color: white;
    color: crimson;
    transition: 0.6s;
}
.text-area small{
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

.image-area img{
    width: 300px;
    height: 350px;
    margin-left: 160px;
}

/*----------Mission page styling-------*/
.mission{
    margin-bottom: 200px;
}
.section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.inside-mission{
    display: flex;
    justify-content: space-evenly;
}
 .icon-size img{
    width: 100px;
    height: 100px;
}
.width-area-three-colums{
    width: 25%;
}
.goals{
    text-align: left;
    font-size: 17px;
}

.goal-description{
    font-size: 13px;
    text-align: justify;
    opacity: 0.8;
}
.box1,.box2,.box3{
    
    padding: 30px;
    width: 250px;
    height: 330px;
    border-radius: 30px;
}
.box1{
    background-color: rgb(240, 234, 235);
    box-shadow: 7px 5px 10px rgb(230, 180, 190);
}
.box2{
    background-color: rgb(202, 235, 235);
    box-shadow: 7px 5px 10px rgb(134, 187, 187);
}
.box3{
    background-color: rgb(199, 206, 219);
    box-shadow: 7px 5px 10px rgb(207, 212, 223);
}

/*----------Team section styling-------*/
.team{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 200px;
}
.team-image img{
    width:320px;
    height:345px;
    border-radius: 20px;
    box-shadow: 7px 5px 10px rgb(219, 195, 200);
}
    /*for team-1 styling*/
.team-1-image{
    width: 25%;
    margin-left: 90px;
}
.team-1-description{
    width: 60%;
    margin-top: -60px;
    margin-right: 80px;
}
    /*for team-2 styling*/

.team-2-description{
    width: 60%;
    margin-top: -60px;
    margin-left: 80px;
}
.team-2-image{
    width: 25%;
    margin-right: 60px;
}

/*----------contract section styling-----------*/

.contract-pannel{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.address{
    width: 40%;
}
.customer-messages{
    width: 40%;
}

.customer-messages form input{

    display: block;
    width: 400px;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
}
.customer-messages form textarea{
    width: 405px;
    margin: 10px 0px;
    border-radius: 5px;
}
.address-details h6{
    font-size: 13px;
    font-weight: 600;
    opacity: 0.6;
}

/*----------Footer section styling------------*/
footer{
    background-color: rgb(228, 196, 196);
    padding: 5px;
}
footer h3{
    margin-bottom: 0px;
}